.thanks-section {
    height: 100vh;
}

.free-quote-success-message {
    background-color: #012468;
    color: #FFFFFF;
    text-align: center;
    font-family: Ubuntu;
    padding: 128px 16px;
    margin-top: 40px;
}

.free-quote-success-message div h3 {
    font-size: 40px;
    color: #f16d10;
}

.free-quote-success-message div p {
    font-size: 18px;
}

.free-quote-success-message div p a {
    color: #f16d10 !important;
}